<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/main.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">  </head>
  <body>
      <section id="SideMenu">
          <nav>
              <a href="#" class="active"><i class="fa fa-user" aria-hidden="true"></i> Profile</a>
              <a href="#"><i class="fa fa-wrench" aria-hidden="true"></i> Settings</a>
              <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> Schedule</a>
              <a href="#"><i class="fa fa-comments" aria-hidden="true"></i> Community</a>
              <a href="#"><i class="fa fa-question-circle" aria-hidden="true"></i> Contact</a>
              <a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Signout</a>

          </nav>

      </section>
      <header>
        <div class="search_area">
          <i class="fa fa-search" aria-hidden="true"></i>
          <input type="text" name="" value="" placeholder="Search...">
        </div>

      </header>
<section class="content-area">
  <div class="heading">
    <h1>Dashboard</h1>
    <p> Welcome To MaxE!</p>
</div>
<div class="icon-cats">
<div class="icon-cat">

</section>

  </body>
</html>
